<ul class="citydims">
  <li>
    <svg aria-hidden="true"><use href="assets/icons/sprite.svg#shield"></use></svg>
    <span><b data-t="modal.dim.security"></b><em data-t="modal.dim.sec.desc"></em></span>
  </li>
  <li>
    <svg aria-hidden="true"><use href="assets/icons/sprite.svg#users"></use></svg>
    <span><b data-t="modal.dim.demog"></b><em data-t="modal.dim.dem.desc"></em></span>
  </li>
  <li>
    <svg aria-hidden="true"><use href="assets/icons/sprite.svg#health"></use></svg>
    <span><b data-t="modal.dim.health"></b><em data-t="modal.dim.hea.desc"></em></span>
  </li>
  <li>
    <svg aria-hidden="true"><use href="assets/icons/sprite.svg#route"></use></svg>
    <span><b data-t="modal.dim.mobility"></b><em data-t="modal.dim.mob.desc"></em></span>
  </li>
</ul>
